



------
<div class="spacefortopoflandingpage">
<div>
<div class="parentLanding">
    <div class="childLanding">
      <br>
      <br>   
        <img src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare+full+white+logo+bigger.png" />
        <br>
        <br>
   
        <h2 class="text-center">An easier way to get the advice you're looking for.</h2>
        <br>
   
     <div class="">
        <h4 class="text-center">AdviceShare provides professional and academic advice from accomplished people, helping you get closer to your goals, while saving time along the way.</h4>
        <br>
    </div>
  
  </div>
</div>
<div class="row">


<div class="moveleft">
  <div class="span5 offset2">
    <div class="signupparent">
      <div class="signupparentchild">
          
        <h1 class="text-center"></h1>
        <br>
    <h4 class="text-left">

    <div class="clearfix content-heading explainergraphics">
          <img class="pull-left pushpicturedown" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/White/AS(1REV).png"/>
          <h4 class="getridofspaceatbottom pulltextup">Tell us what advice you need.</h4>
          <small class="changesmallfont">You tell us what type of advice you're looking for.</small>
        </div>
        <div class="clearfix content-heading explainergraphics space2and3">
          <h1 class="pull-left withrightmargin pushpicturedown">2</h1>
            <img class="pull-left pushpicturedown" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/White/AS(2REV).png"/>
          <h4 class="getridofspaceatbottom">We'll connect you. / We'll provide advice.</h4>
          <small class="changesmallfont">We'll provide you with insights with those who have been in your shoes, and want to help.</small>
        </div>
        <div class="clearfix content-heading explainergraphics">
          <h1 class="pull-left withrightmargin pushpicturedown">3</h1>
          <img class="pull-left pushpicturedown" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/White/AS(4REV).png"/>
          <h4 class="getridofspaceatbottom">Save Time. Avoid the hassle.</h4>
          <small class="changesmallfont">You avoid the hassle of emailing strangers, coordinating schedules, and doing tons of google searches.</small>
        </div>

      </div>
    </div>

  </div>
    
 </div>   

  <div class="span4">
    <div class="signupparent">
      <div class="signupparentchild">

          <h1 class="text-center"></h1>

      <%= simple_form_for @signup, :html => {:class => 'form-inline' } do |f| %>
      <%= f.input :name, :label => "", :required => true, :placeholder => 'Name', :input_html => {style: 'width:290px; height: 30px; margin-bottom: -20px;'} %>
        <%= f.input :email, :label => "", :required => true, :placeholder => 'Email', :input_html => {style: 'width:290px; height: 30px; margin-bottom: -20px;'} %>
        <%= f.input :message, :label => "", :as => :text, :required => true, :placeholder => 'Tell us what type of advice you are looking for!', :input_html => {:rows => 10, style: 'width:290px; height: 75px; ;'} %>
          <%= f.button :submit, 'Sign Up for Early Access', :class=> "btn btn-large btn-primary" %>
      <% end %>  

      </div>
    </div>
  </div>

  <div class="span1">
    <div class="signupparent">
      <div class="signupparentchild">

      </div>
    </div>
  </div>
  
</div>

<div class="buttonLanding">
    <div class="childLanding">
        <br>
        <br>
        <br>
        <br>
        <small>© 2013 AdviceShare. All rights reserved.</small>
  </div>
</div>
<!-- extra for landing page -->

<div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/Green/AS(1).png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Make a profile.</h4>
              Create a profile and tell us what type of advice you're looking for.
           
              <!-- Nested media object -->
              <div class="media">
                ...
              </div>
            </div>
          </div> 


      
<!--        <%= render 'blogsignups/blogShare' %>    

Facebook Script
<div class="headerlinks" style="margin-left: -7px;">
<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.adviceshare.co&p[images][0]=https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png&p[title]=&p[summary]=Just%20signed%20up%20for%20early%20access%20to%20@AdviceShare,%20an%20easier%20way%20for%20people%20seeking%20advice%20to%20connect%20with%20those%20who%20want%20to%20help,%20and%20vice%20versa." target="_blank">
    <div class="socialmedia">
    <img src="https://s3.amazonaws.com/AdviceShare/Social+Media+Icons/FB-f-Logo__blue_100.png" />
    <br>
    <br>
    </div>
</a>

Twitter Script 

<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.adviceshare.co" data-text="Just signed up for early access to @AdviceShare, an easier way to give and receive great advice!" data-size="large" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>-->



 
