<div class="spacefortopoflandingpage">
<div>
<div class="parentLanding">
    <div class="childLanding">
    	<br>
    	<br>   
        <%= render 'signups/whiteASLogo' %>
                <br>
        <br>
        <br>
        <h2 class="text-center">Like match.com for Advice.</h4>
          <br>
        <h4 class="text-center">AdviceShare makes it easier for people seeking an edge to connect<br> with those who want to help, and vice versa.</h4>
        
   
        <!--<h2 class="text-center">An easier way to get the advice you're looking for.</h2> -->
     <!--<div class="span10">
        <h4 class="text-center">AdviceShare makes it easier for people seeking professional and academic advice to connect with those who want to help, and vice versa.</h4>
        <br>
   	</div>-->
	     <br>
	</div>
</div>
<div class="row">


<div class="moveleft">
  <div class="span5 offset2">
  	<div class="signupparent">
      <div class="signupparentchild">
          
        <h1 class="text-center"></h1>
        <br>
		<h4 class="text-left">

		<div class="clearfix content-heading explainergraphics">
          <img class="pull-left pushpicturedown withrightmargin" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/Green/AS(1).png"/>
          <h4 class="getridofspaceatbottom pulltextup">Make a request.</h4>
          <small class="changesmallfont">Create a profile and tell us what type of advice you're looking for.<br><br></small>
      	</div>
      	<div class="clearfix content-heading explainergraphics space2and3">
          	<img class="pull-left pushpicturedownmore withrightmargin" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/Green/AS(4).png"/>
          <h4 class="getridofspaceatbottom">We'll connect you.</h4>
          <small class="changesmallfont">We'll find an AdviceShare adviser who wants to offer their insights.</small>
      	</div>
      	<div class="clearfix content-heading explainergraphics">
          <img class="pull-left pushpicturedownmore withrightmargin" src="https://s3.amazonaws.com/AdviceShare/Landing+Page+Images/Green/AS(3).png"/>
          <h4 class="getridofspaceatbottom">Save Time. Avoid the hassle.</h4>
          <small class="changesmallfont">You'll get the advice you need, without the hassle of looking for it!</small>
      	</div>

      </div>
    </div>

  </div>
  	
 </div> 	

  <div class="span3">
  	<div class="signupparent">
      <div class="signupparentchild">

      	  <h1 class="text-center"></h1>

		  <%= simple_form_for @signup, :html => {:class => 'form-inline' } do |f| %>
			<%= f.input :name, :label => "", :required => true, :placeholder => 'Name', :input_html => {style: 'width:290px; height: 30px; margin-bottom: -20px;'} %>
		    <%= f.input :email, :label => "", :required => true, :placeholder => 'Email', :input_html => {style: 'width:290px; height: 30px; margin-bottom: -20px;'} %>
		    <%= f.input :message, :label => "", :as => :text, :required => true, :placeholder => 'Tell us what type of advice you are looking for!', :input_html => {:rows => 10, style: 'width:290px; height: 75px; ;'} %>
		      <%= f.button :submit, 'Sign Up for Early Access', :class=> "btn btn-large btn-primary" %>
		  <% end %> 
      <%= render 'signups/becomeadviser' %> 

      </div>
    </div>
  </div>

  <div class="span1">
  	<div class="signupparent">
      <div class="signupparentchild">

      </div>
    </div>
  </div>
  
</div>

<%= render 'layouts/landingpagefooter' %>

