<div class="middleSectionOfLandingPage">
  <div class="row">
    <div id="wrapper" class="container">
            <div class="">
                <div class="center span10">
                 <ul class="thumbnails">
                        <li class="span1" id="item2"></li>
                        <li class="span8" id="item3">
                          <h1 class="text-center" style="margin-top: 160px; font-size: 50px; line-height: 150%;">An easier way to give <br>and receive great advice.</h1>
                        </li>
                        <li class="span1"></li>
                   </ul><!--/.thumbnails-->
                </div><!--/.center-->
            </div><!--/.row-->
    </div><!--#wrapper-->
  </div>


<div class="row" style="margin-top: px;">
  <div id="wrapper" class="container">
          <div class="">
              <div class="center span9">
               <ul class="thumbnails">
                      <li class="span3" id="item1">
                          <img class="" style="width: 300px; margin-top: -100px;" src=""/>
                          <br>
                          <a class="" href=""><i class="fa fa-list-alt fa-5x howItWorksIcons"></i></a>
                          <h3 class="">Request.</h3>
                          <h5 class="">Tell us the type of advice you're looking for or the type of people you want to help.</h5>
                      </li>    
                      <li class="span3" id="item2">
                          <img class="" style="width: 275px; margin-top: -50px;" src=""/>
                          <br>
                          <a class="" href=""><i class="fa fa-comments-o fa-5x howItWorksIcons"></i></a>
                          <h3 class="">Connect.</h3>
                          <h5 class="">We'll find a match for you and coordinate a time to chat.</h5>
                          <br>
                          <br>
                      </li>
                      <li class="span3" id="item3">
                          <img class="" style="width: 200px; margin-top: -50px;" src=""/>
                          <br>
                          <a class="" href=""><i class="fa fa-trophy fa-5x howItWorksIcons"></i></a>
                          <h3 class="">Make an impact.</h3>
                          <h5 class="">You'll get the advice you need, without the hassle of looking for it!.</h5>
                      </li>
                      <li class="span3"></li>
                 </ul><!--/.thumbnails-->
              </div><!--/.center-->
          </div><!--/.row-->
  </div><!--#wrapper-->

<div class="row">
  <div id="wrapper" class="container">
          <div class="">
              <div class="center span12">
               <ul class="thumbnails">
                      <li class="span1" id="item3"></li>
                      <li class="span10" id="item2">
                          
                          <%= simple_form_for @signup, :html => {:class => 'form-horizontal' } do |f| %>
                          <div class="controls controls-row">
                          <% end %> 
                          </div>
                          
                      </li>
                      
                 </ul><!--/.thumbnails-->
              </div><!--/.center-->
          </div><!--/.row-->
  </div><!--#wrapper-->
  </div>
</div>

<div class="row" style="margin-top: -60px;">
  <div id="wrapper" class="container">
          <div class="">
              <div class="center span10">
               <ul class="thumbnails">
                      <li class="span1" id="item1"></li>
                      <li class="span8" id="item2">
                        <%= simple_form_for @signup, :html => {:class => 'form-horizontal' } do |f| %>
                         <%= f.input_field :name, :label => "", :required => true, :placeholder => 'Name', :style => "height: 30px; width: 200px; margin-bottom: 10px;" %>
                          <%= f.input_field :email, :label => "", :required => true, :placeholder => 'Email', :style => "height: 30px; width: 200px; margin-bottom: 10px;" %>
                          <!--<%= f.input :message, :label => "", :required => true, :as => :text, :placeholder => 'What type of advice are you looking for?', :input_html => {style: 'width:250px; height: 60px;'} %>-->
                          <%= f.button :submit, 'Get Early Access', :class=> "btn-large btn-primary", style: 'margin-top: -10px; height: 40px; width: 200px;' %>
                        <% end %> 
                      </li>
                      <li class="span1" id="item3"></li>
                 </ul><!--/.thumbnails-->
              </div><!--/.center-->
          </div><!--/.row-->
  </div><!--#wrapper-->
  </div>
</div>

<div class="row" style="margin-top: -40px;">
  <div id="wrapper" class="container">
          <div class="">
              <div class="center span10">
               <ul class="thumbnails">
                      <li class="span1" id="item1"></li>
                      <li class="span8" id="item2">
                        <%= link_to "Want to share advice? Become an adviser!", new_advisor_path, class: 'adviserLinks' %>
                      </li>
                      <li class="span1" id="item3"></li>
                 </ul><!--/.thumbnails-->
              </div><!--/.center-->
          </div><!--/.row-->
  </div><!--#wrapper-->
  </div>
</div>


