<br>
<br>
<div class="row" id="EarlierPosts">
  <div class="span2">
  </div>
  <div class="span8">
     <hr>
  </div>
  <div class="span2">
  </div>
</div>  
<br>
<br>

<div class="row visible-desktop visible-tablet">
  
  <div class="span4">
    <a href="/blog/Selecting-Applicants-For-Interviews" title="" alt="Here’s How We Selected Applicants for Interviews at My Fortune 500 Firm"><img class="selectingApplicants" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Selecting+Applicants.jpg"  /></a>
    <h4 class="text-center"><%= link_to "Here’s How We Selected Applicants for Interviews at My Fortune 500 Firm
", "/blog/Selecting-Applicants-For-Interviews", class: 'NoUnderlineForLink, olderBlogPosts' %></h4>
  </div>

  <div class="span4">
    <a href="/blog/Life-Hacks-for-Holiday-Season-Productivity"><img style="height: 150px; width: 180px; padding-bottom: 5px;" class="blogPostImagesToDate" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Holiday+Season+Productivity.jpg" /></a>
    <h4 class="text-center"><%= link_to "Life Hacks to Stay Productive During the Holiday Season", "/blog/Life-Hacks-for-Holiday-Season-Productivity", class: 'NoUnderlineForLink, olderBlogPosts' %></h4>
  </div>

  <div class="span4">
    <a href="blog/highly-coveted-professional-and-academic-positions"><img class="blogPostImagesToDate" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Landing%2BProfessional%2Band%2BAcademic%2BPositions.jpg" /></a>
    <h4 class="text-center"><%= link_to "How We Landed the Following Professional and Academic Opportunities", "/blog/highly-coveted-professional-and-academic-positions", class: 'NoUnderlineForLink, olderBlogPosts' %></h4>
  </div>

</div>

<!-- MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE -->
<div class="row visible-mobile hidden-table hidden-desktop">
  
  <div class="span4">
    <a href="/blog/Selecting-Applicants-For-Interviews" title="" alt="Here’s How We Selected Applicants for Interviews at My Fortune 500 Firm"><img class="mainBlogpostImage" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Selecting+Applicants.jpg"  /></a>
    <h4 class="text-center"><%= link_to "Here’s How We Selected Applicants for Interviews at My Fortune 500 Firm
", "/blog/Selecting-Applicants-For-Interviews", class: 'NoUnderlineForLink mainPostTitleText' %></h4>
  </div>
  <br>
  <br>
  <br>
  <div class="span4">
    <a href="/blog/Life-Hacks-for-Holiday-Season-Productivity"><img style="height: 150px; width: 180px; padding-bottom: 5px;" class="blogPostImagesToDate" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Holiday+Season+Productivity.jpg" /></a>
    <h4 class="text-center"><%= link_to "Life Hacks to Stay Productive During the Holiday Season", "/blog/Life-Hacks-for-Holiday-Season-Productivity", class: 'NoUnderlineForLink, olderBlogPosts' %></h4>
  </div>
  <br>
  <br>
  <br>
  <div class="span4">
    <a href="blog/highly-coveted-professional-and-academic-positions"><img class="blogPostImagesToDate" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Landing%2BProfessional%2Band%2BAcademic%2BPositions.jpg" /></a>
    <h4 class="text-center"><%= link_to "How We Landed the Following Professional and Academic Opportunities", "/blog/highly-coveted-professional-and-academic-positions", class: 'NoUnderlineForLink, olderBlogPosts' %></h4>
  </div>

</div>






<!--<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
     <hr>
  </div>
  <div class="span2">
  </div>
</div>  
<br>
<br>

<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>

<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>-->

<!--second row
<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>

<!--third row 
<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>-->

