<br>
<br>
<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
     <hr>
  </div>
  <div class="span2">
  </div>
</div>  
<br>
<br>

<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>

<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>

<!--second row -->
<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>

<!--third row -->
<div class="row">
  <div class="span2">
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span4">
    <div class="row">
        <a href="http://AdviceShare.co/blog/"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare-big-green.png" /></a>
    </div>
    <h4 class="text-center"><%= link_to "First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here--First Blogpost Goes Here", "http://www.AdviceShare.co/Blog" %></h4>
  </div>
  <div class="span2">
  </div>
</div>
