<%= form_for(@advicearea) do |f| %>
  <% if @advicearea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advicearea.errors.count, "error") %> prohibited this advicearea from being saved:</h2>

      <ul>
      <% @advicearea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form role="form">
  <div class="form-group">
    <%= f.text_field :name, :placeholder => 'Name of area' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :placeholder => 'Description of the area' %>
  </div>
  <button type="submit" class="btn btn-default">Create Area</button>
<% end %>
</form>

