
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Listing adviceareas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>



<div class="container">
 <% @adviceareas.each do |advicearea| %>
  <div class="row">
    <div class="col-md-4"><%= advicearea.name %></div>
    <div class="col-md-4"><%= advicearea.description %></div>
    <div class="col-md-4">
      <%= link_to 'Show', advicearea %>
      <%= link_to 'Edit', edit_advicearea_path(advicearea) %>
      <%= link_to 'Destroy', advicearea, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
 <% end %>
</div>
</table>

<br>

<%= link_to 'New Advicearea', new_advicearea_path %>
