<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag("https://s3.amazonaws.com/AdviceShare/AdviceShare-lowercase-white.png"), root_path, :id => "logo" %>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
      <li><%= link_to "Home", root_path, class: 'headerlinks' %></li>
      <li><%= link_to "Settings", edit_user_registration_path(current_user), class: 'headerlinks' %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'headerlinks' %></li>
      <% else %>
      <li><%= link_to "How it Works", howItWorks_path, class: 'headerlinks' %></li>
      <li><%= link_to "Sign in", new_user_session_path, class: 'headerlinks' %></li>
      <% end %>
    </ul>
  </div>
</header>