<!DOCTYPE html>
<html>
  <head>
    
       
    <!--Meta TAGS-->
    <meta name="description" content="AdviceShare is like match.com for Advice. We make it easier for people seeking an edge to connect with those who want to help, and vice versa.">
    <link rel="author" href="https://plus.google.com/+MalcolmEvans/">

  <% if content_for? :for_socialmedia %>
    <%= yield :for_socialmedia %>
  <% end %>

    <!--Facebook-->
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="AdviceShare Blog" />
    <meta property="fb:admins" content="755565431"/>
    <meta property="og:image" content="https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png" />
    <meta property="og:url" content="http://www.AdviceShare.co/blog" />
    
    
    <!--Twitter-->
    <meta name="twitter:title" content="AdviceShare Blog">
    <meta name="twitter:card" content="blog">
    <meta name="twitter:image" content="https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png">
    <meta name="twitter:url" content="http://www.AdviceShare.co/blog/highly-coveted-professional-and-academic-positions" />
    <meta name="twitter:description" content="AdviceShare is like match.com for advice. We make it easier for people seeking an edge to connect with those who want to help, and vice versa.">


    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "signups", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type='text/javascript' src='https://s3.amazonaws.com/AdviceShare/jquery.html5-placeholder-shim.js'></script>
    <%= render 'layouts/shim' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44679032-2', 'adviceshare.co');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>

    <script type="text/javascript">
$('#myTab a').click(function (e) {
    if($(this).parent('li').hasClass('active')){
        $( $(this).attr('href') ).hide();
    }
    else {
        e.preventDefault();
        $(this).tab('show');
    }
});
    </script>

<%= favicon_link_tag 'AS_Favicon.png' %>
  </head>
  <body>
    <!-- ClickTale Top part -->
      <script type="text/javascript">
      var WRInitTime=(new Date()).getTime();
      </script>
    <!-- ClickTale end of Top part -->
    <%= render 'layouts/landingpageheader' %>

        <%= yield %>

      <%= render 'layouts/landingpagefooter' %>

    <%= debug(params) if Rails.env.development? %>
    

    <!-- ClickTale Bottom part -->

    <script type='text/javascript'>
    // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
    // 
    //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
    //
    // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

    document.write(unescape("%3Cscript%20src='"+
    (document.location.protocol=='https:'?
    "https://clicktalecdn.sslcs.cdngc.net/www07/ptc/a7eb6436-e724-4ac5-b237-d9b1ce8062e0.js":
    "http://cdn.clicktale.net/www07/ptc/a7eb6436-e724-4ac5-b237-d9b1ce8062e0.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
    </script>

    <!-- ClickTale end of Bottom part -->

  </body>
</html>

